pandas         # Manipulação e análise de dados
numpy          # Operações numéricas e matrizes
matplotlib     # Criação de visualizações estáticas, como gráficos
seaborn        # Visualização de dados baseada no matplotlib (gráficos mais sofisticados)
